player-connection-mode=Listen
player-connection-guid=3448494163
player-connection-debug=0
player-connection-project-name=202313160_SwipeCar
player-connection-ip=192.168.0.11
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ff242b73fbb942c2910690c9862daccc
